<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-12 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li><a routerLink='/'><i class="fa fa-angle-double-right"></i>Home</a></li>
          <li><a routerLink='/artist'><i class="fa fa-angle-double-right"></i>Browse</a></li>
          <li><a routerLink='/checkout'><i class="fa fa-angle-double-right"></i>Checkout</a></li>
          <li *ngIf="!auth.isLoggedIn"><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Login</a></li>
          <li *ngIf="!auth.isLoggedIn"><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Sign Up</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
            <ul class="list-unstyled list-inline social text-center">
              <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook-square" style="font-size:48px;color:#1a8cff"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter-square" style="font-size:48px;color:#80bfff"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram" style="font-size:48px;color:#ff6600"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus-square" style="font-size:48px;color:red"></i></a></li>
              <li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope-square" style="font-size:48px;color:#ff4d4d"></i></a></li>
            </ul>
          </div>  
        </div>	
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
            <p><u><a href="https://www.nationaltransaction.com/">National Transaction Corporation</a></u> is a Registered MSP/ISO of Elavon, Inc. Georgia [a wholly owned subsidiary of U.S. Bancorp, Minneapolis, MN]</p>
            <p class="h6">&copy All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
          </div>
        </div>
      </div>
    </div>	
  </div>
</section>