.artist{
    width: 80%;
}
@media (min-width: 36em) {
    /* .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    } */
    /* app-artist-item{
        width: 16em;
    } */
    .artist{
        width: 49%;
    }
    
}

@media (min-width: 48em) {
    /* .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    } */

    /* app-artist-item{
        width: 15em;
    } */
    .artist{
        width: 24%;
    }
}

@media (min-width: 62em) {
    /* .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    } */

    /* app-artist-item{
        width: 15em;
    } */
    
}

@media (min-width: 75em) {
    /* .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    } */

    /* app-artist-item{
        width: 15em;
    } */
    .artist{
        width: 19%;
    }
}